@tailwind base;
@tailwind components;
@tailwind utilities;


/* Centered container */
.centCont {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.collapse.show {
  visibility: visible;
}